<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>College Information</h1>
        
            <h2>Three Branches Are Available(Computer,Electical,Mechanical) </h2>
            <h2 style="color: red;">Features of Our college</h2>
            <ul type="1">                
                    <li><h3>Well trained Staff</h3></li>
                    <li><h3>High facility Available</h3></li>
                    <li><h3>Clean Classroom</h3></li>
                    <li><h3>Digital Teaching</h3></li>
                    <li><h3>Skill Devolpment Program and career guidence</h3></li>
                    <li><h3>Campus Placement</h3></li>
                    <li><h3>Good Academic result</h3></li>                
            </ul>
    
    </body>
</html>