{% extends 'base.html' %}
{% block title %}Add students-College Portal{% endblock %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card-header bg-dark text-white">
           <h2>Add new students</h2>
        </div>
        <div class="card-body p-4">
            <form action="{{ url_for('add_students') }}" method="POST">
        </div>
        <div class="mb-3">
            <label class="form-label">Student Name</label>
            <input type="text"
               name="Student_name"
               class="form-control">
       </div>
       <div class="mb-3">
           <label class="form-label">Roll No</label>
           <input type="number"
               name="roll"
               class="form-control">
        </div>
       <div class="mb-3">
           <label class="form-label">Marks</label>
           <input required type="number"
               name="marks"
               class="form-control">
        </div>
         <div class="mb-3">
           <label class="form-label">Subject</label>
           <input type="text"
               name="subject"
               class="form-control">
        </div>
         <div class="mb-3">
           <label class="form-label">Attendance</label>
           <input type="number"
               name="attendance"
               class="form-control">
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-success">
                  Add Student
            </button>
</form>
        </div>
    </div>
</div>
{% endblock %}