{% extends 'base.html' %}
{% block title %}Home-College Portal {% endblock %}

{% block content %}
<h1>Department Page</h1>
<nav >
    <center>
    <div class="container">
       <button class="btn btn-primary">Computer Department</button>
       <button class="btn btn-warning">Electical Department</button>
       <button class="btn btn-danger">Mechanical Department</button>
    </div>
    </center>
</nav>
<hr/>
<div class="card">
    <div class="container">
        <h2>Computer department Information</h2>
        
    </div>
</div>
{% endblock %}