{% extends 'base.html' %}
{% block title %}Home-College Portal {% endblock %}


{% block content %}
<!-- Hero Section — professional banner -->
 <div class="width-100 top-header">
    <div class="container">
        <div class="width-100">
            <b class="news-list" style="font-family:Bookman Old style;">Vision</b>
            <marquee class="headquote" style="background-color: rgb(220, 59, 220);">
                GPH:🚀TRANSFORMING YOUR DREAMS INTO REALTIY  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  💡EMPOWERING MINDS, BUILDING FUCTURE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   🎯THINK SMART, BUILD BETTER
            </marquee>
        </div>
    </div>
 </div>
 <div class="width-100 header-menu">
   <div class="container">
    <div class="row align-items-center">
    <div class="logo d-flex align-items-center">
       
        <img src="{{ url_for('static',filename='logo.jpg')}}" alt="logo" 
        width="100" height="100">
       
           <h1 class="ms-3 mb-0" color:red">
             Government Polytechnic Hingoli</h1>
     </div>
    </div>
   </div>
 </div>
<div class="hero-section p-5 mb-4">
    <div class="row align-items-center">
        <div class="col-md-8">
            <h1 class="display-5 fw-bold mb-2">
                Welcome to College Portal 🎓
            </h1>
            <p class="fs-5 opacity-75 mb-3">
                Manage student records, marks and results —
                all in one place.
            </p>
            <a href="{{ url_for('students_page') }}"
               class="btn btn-light btn-lg px-4 me-2">
                View Students →
            </a>
            <a href="{{ url_for('about') }}"
               class="btn btn-outline-light btn-lg px-4">
                About
            </a>
        </div>
        <div class="col-md-4">
             <img src="static/college.jpg" alt="logo" 
                          width="250" height="200">
        </div>
    </div>
</div>

<!-- Stats Row -->
<div class="row ">

    <div class="col-md-4 mb-3">
        <div class="card stat-card p-3 bg-primary bg-opacity-10">
            <div class="d-flex align-items-center">
                <span style="font-size:40px;">👨‍🎓</span>
                <div class="ms-3">
                    <h2 class="fw-bold text-primary mb-0">
                        {{ students|length }}
                    </h2>
                    <p class="text-muted mb-0">Total Students</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card stat-card p-3 bg-success bg-opacity-10">
            <div class="d-flex align-items-center">
                <span style="font-size:40px;">✅</span>
                <div class="ms-3">
                    {% set passed = students|selectattr('marks','ge',60)|list %}
                    <h2 class="fw-bold text-success mb-0">
                        {{ passed|length }}
                    </h2>
                    <p class="text-muted mb-0">Passed</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card stat-card p-3 bg-warning bg-opacity-10">
            <div class="d-flex align-items-center">
                <span style="font-size:40px;">⭐</span>
                <div class="ms-3">
                    {% set excellent = students|selectattr('marks','ge',90)|list %}
                    <h2 class="fw-bold text-warning mb-0">
                        {{ excellent|length }}
                    </h2>
                    <p class="text-muted mb-0">Excellent</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container " style="color:black">
    
<div class="row">
    <div class="col-md-5 mb-3 ms-3">
        <div class="card stat-card p-3 bg-opacity-10" style="background-color:purple;">
            <div class="align-items-center">
                <div class="accordion" id="InstituteAccordion">
                   <div class="accordion-item">

                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#InstituteContent"
                                    aria-expanded="false"
                                    aria-controls="InstituteContent">

                                🏫 Institute History
                            </button>
                        </h2>

                        <div id="InstituteContent"
                            class="accordion-collapse collapse"
                            data-bs-parent="#InstituteAccordion">

                            <div class="accordion-body">
                                Government Polytechnic, Hingoli is an institute established in the year 2009 
                                under Directorate of Technical Education, Mumbai Maharashtra and is approved by 
                                All India Council of Technical Education (AICTE) and is affiliated to Maharashtra 
                                State Board of Technical Education (MSBTE).
                                The Institute is located at MIDC Limbala, Hingoli. The spacious campus of the 
                                institute houses the main building comprising of the academics and administrative
                                wings, workshop building, boys and girls hostels.

                            
                            </div>

                        </div>

                    </div>
               </div>
            </div>
        </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      
     <div class="col-md-5 mb-3 ms-3">
        <div class="card stat-card p-3 bg-opacity-10" style="background-color:purple;">
            <div class="align-items-center">
               <div class="accordion" id="visionAccordion">
                   <div class="accordion-item">

                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#visionContent"
                                    aria-expanded="false"
                                    aria-controls="visionContent">
                                🎯 Vision And Mission
                            </button>
                        </h2>

                        <div id="visionContent"
                            class="accordion-collapse collapse"
                            data-bs-parent="#visionAccordion">

                           <div class="accordion-body">

                                <strong> Vision</strong><br/>
                                “Transform human lives through quality technical education to achieve sustainable development.”<br/>

                                <strong> Mission</strong><br/>
                                    M1: Continuous upgradation of infrastructure to fulfil technological needs.<br/>
                                    M2: Build competent engineers through quality technical education and effective curriculum
                                    implementation.<br/>
                                    M3: Foster industry-institute interaction for skill development in student as well as faculty.<br/>
                                    M4: Develop leadership quality, supervisory skills, ethical values, patriotism and 
                                    entrepreneurial attitude for enhancing employability.<br/>

                          </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
 <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; -->
</div></div>
<div class="row">
    <div class="col-md-5 mb-3 ms-3 mt-3" > 
        <div class="card stat-card p-3 bg-opacity-10" style="background-color:purple;">
            <div class="align-items-center">
                <div class="accordion" id="HighlightsAccordion">
                    <div class="accordion-item">

                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#HighlightContent"
                                    aria-expanded="false"
                                    aria-controls="HighlightContent">
                                🏕️ Campus
                            </button>
                        </h2>

                        <div id="HighlightContent"
                            class="accordion-collapse collapse"
                            data-bs-parent="#HighlightsAccordion">

                            <div class="accordion-body">
                                <strong>About GPH:</strong><br>

                                • Established in 2009.<br>
                                • The Institution is spread over a piece of land admeasuring 10 Acres.<br>
                                • Affiliated to MSBTE, Govt. of India.
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      
     <div class="col-md-5 mb-3 ms-3 mt-3">
        <div class="card stat-card p-3 bg-opacity-10" style="background-color:purple;">
            <div class="align-items-center">
                <div class="accordion" id="DeptAccordion">
                    <div class="accordion-item">

                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#DeptContent"
                                    aria-expanded="false"
                                    aria-controls="DeptContent">
                                🏬 Department
                            </button>
                        </h2>

                        <div id="DeptContent"
                            class="accordion-collapse collapse"
                            data-bs-parent="#DeptAccordion">

                            <div class="accordion-body">

                                <a href="{{ url_for('computer') }}"
                                class="btn btn-lg px-4 mb-3"
                                style="background-color:greenyellow; color:purple;">
                                    👨‍💻Computer Engineering
                                </a><br/>

                                <a href="{{ url_for('electrical') }}"
                                    class="btn btn-lg px-4 mb-3"
                                    style="background-color:orangered; color:purple;">
                                        ⚡Electrical Engineering
                                    </a><br/>
                                    <a href="{{ url_for('mechanical') }}"
                                    class="btn btn-lg px-4 mb-3"
                                    style="background-color:mediumpurple; color:purple;">
                                        🦾Mechanical Engineering
                                    </a><br/>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<br/>
<div class="row">
    <div class="col-md-5 mb-3 ms-3">
        <div class="card stat-card p-3 bg-opacity-10" style="background-color:purple;">
            <div class="align-items-center">
                <div class="accordion" id="placeAccordion">
                    <div class="accordion-item">

                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#placeContent"
                                    aria-expanded="false"
                                    aria-controls="placeContent">
                                💵 Placements
                            </button>
                        </h2>

                        <div id="placeContent"
                                class="accordion-collapse collapse"
                                data-bs-parent="#placeAccordion">

                            <div class="accordion-body">
                                <strong>Placements:</strong><br>

                                • Campus recruitment by reputed companies.<br>
                                • Placement training and aptitude sessions.<br>
                                • Mock interviews and resume-building workshops.<br>
                                • Internship opportunities for students.<br/>
                                <a href="{{ url_for('placements') }}"
                                class="btn btn-lg px-4 mb-3"
                                style="background-color:red; color:purple;">
                                    Placement
                                </a><br/>
                            </div>
                       </div>
                    </div>
               </div>
            </div>
        </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      
     <div class="col-md-5 mb-3 ms-3">
        <div class="card stat-card p-3 bg-opacity-10" style="background-color:purple;">
            <div class="align-items-center">
                <div class="accordion" id="aboutAccordion">
                    <div class="accordion-item">

                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#aboutContent"
                                    aria-expanded="false"
                                    aria-controls="aboutContent">
                                ♂️ About Us
                            </button>
                        </h2>

                        <div id="aboutContent"
                            class="accordion-collapse collapse"
                            data-bs-parent="#aboutAccordion">

                            <div class="accordion-body">
                                Welcome to Government Polytechnic Hingoli (GPH). We are committed to 
                                providing quality technical education, practical knowledge, and skill development to 
                                prepare students for successful careers. Our institute offers modern infrastructure, 
                                experienced faculty, and industry-oriented learning to help students achieve academic
                                and professional excellence.<br/>
                                
                                <a href="{{ url_for('about') }}"
                                class="btn btn-lg px-4 mb-3"
                                style="background-color:blueviolet; color:purple;">
                                    ♣️About us
                                </a><br/>
                            </div>
                        </div>

                    </div>
               </div>
            </div>
        </div>
    </div>
    
</div>





{% endblock %}