<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}College-Portal{% endblock %}</title>
         <!-- Bootstrap CSS -->
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet">
          <style>
            .hero-section {
                     background-color:purple;
                      border: none;
                      color:azure;
                      min-height: 200px;
                      min-width:200px;
                      display:flex;
                      align-items: center;
            }
          </style>

    </head>
    <body class="bg-light">
        <nav class="navbar navbar-expand-lg navbar-expand navbar-dark shadow-sm"
         style="background-color:purple; color:aliceblue">
         <div class="container">
            <a class="navbar-brand fw-bold fs-5 me-3" href="{{ url_for('home')}}">🎓College Portal</a>
         </div>
         <div class="navbar-nav">
            <a class="nav-link px-2 py-1" href="{{ url_for('home') }}">
                    🏠 Home
            </a>
            <a class="nav-link px-2 py-1" href="{{ url_for('about')}}">
                 ♂️ About
            </a>
             <a class="nav-link px-2 py-1" href="{{ url_for('department')}}">
                 🏬Department
            </a>
         </div>
        </nav>
         <!-- Page content — INSIDE container -->
    <div class="container mt-4 mb-5">
        {% block content %}
        {% endblock %}
    </div>

       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>