{% extends 'base.html' %}
{% block title %} Collge-home Portal {% endblock %}
{% block content %}
<div class="width-100 top-header">
    <div class="container">
        <div class="width-100">
            <b class="news-list" style="font-family: Bookman Old style;">Vision</b>
            <marquee class="headquote" style="background-color: darkorchid; color:azure">
                   GPH:🚀TRANSFORMING YOUR DREAMS INTO REALTIY  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  💡EMPOWERING MINDS, BUILDING FUCTURE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   🎯THINK SMART, BUILD BETTER
            </marquee>
        </div>
    </div>
</div><br/>
<div class="container " style= "color:white">
    <div class="hero-section p-5  mb-4">
        <div class="width-100">
            <div class="row align-items-center">
                <div class="logo d-flex align-items-center">
                    <img src="{{ url_for('static',filename='logo.jpg')}}" alt="logo" 
                     width="100" height="100">
                      <h1 class="ms-3 mb-0" style="color:whitesmoke">
                          Government Polytechnic Hingoli</h1>
       
                </div>
                
                <div class="col-md-8">
                    <div class="display-5 fw-bold mb-2">
                       <p class="mb-0" style="color:white"> 🙏 Welcome To Government Polytechnic
                         Hingoli College Portal</p>
                         </div>
                         </div>
                    <div class="col-md-4">
                   <div class="image">
                       <div class="width-100">
                         <img src="static/college.jpg" alt="logo" 
                          width="100" height="100">
                        </div>
                    </div>
                
                </div>
        </div>
    </div>
</div>
</br>
<div class="container d-flex" style="color:black">
    <div class="col-md-5 mb-3">
        <div class="card stat-card p-3 bg-opacity-10" style="background-color:purple;">
            <div class=" align-items-center">
                <div class="accordion" id="collegeAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <buttton class="accordion-button" type="button"
                              data-bs-toggle="collapse" data-bs-target="#history">
                                🏫Institue History
                            </buttton>
                        </h2>
                        <div id="history" class="accordion-collapse collapse show" 
                            data-bs-parent="#collegeAccordion">
                            <div class="accordion-body">
                                Government Polytechnic, Hingoli is an institute established 
                                in the year 2009 under Directorate of Technical Education, 
                                Mumbai Maharashtra and is approved by All India Council of Technical 
                                Education (AICTE) and is affiliated to Maharashtra State Board of 
                                Technical Education (MSBTE).
                                The Institute is located at MIDC Limbala, Hingoli. 
                                The spacious campus of the institute houses the main building 
                                comprising of the academics and administrative wings, workshop building, 
                                boys and girls hostels.
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-md-5 mb-3">
        <div class="card stat-card p-3 bg-opacity-10" style="background-color:purple;">
            <div class=" align-items-center">
                <div class="accordion" id="visionAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <buttton class="accordion-button" type="button"
                              data-bs-toggle="collapse" data-bs-target="#visionContent">
                                🎯Vision and Mission
                            </buttton>
                        </h2>
                        <div id="visionContent" class="accordion-collapse collapse show" 
                            data-bs-parent="#visionAccordion">
                            <div class="accordion-body">
                              Vision
                                “Transform human lives through quality technical education to achieve 
                                sustainable development.”

                             Mission
                               M1: Continuous upgradation of infrastructure to fulfil technological needs.
                                M2: Build competent engineers through quality technical 
                                education and effective curriculum implementation.
                                M3: Foster industry-institute interaction for skill development
                                in student as well as faculty.
                                M4: Develop leadership quality, supervisory skills, ethical values, 
                                patriotism and entrepreneurial attitude for enhancing employability.
                    
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   </br>
 <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; -->
</div></div>
<div class="row">
    <div class="col-md-5 mb-3" style="margin-left: 5px;">
        <div class="card stat-card p-3 bg-opacity-10" style="background-color:purple;">
            <div class="align-items-center">
                <div class="accordion" id="HighlightsAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <buttton class="accordion-button" type="button"
                              data-bs-toggle="collapse" data-bs-target="#HighlightContent">
                               🏕️ Campus
                            </buttton>
                        </h2>
                        <div id="HighlightContent" class="accordion-collapse colaapse show" 
                            data-bs-parent="#HighlightsAccordion">
                            <div class="accordion-body">
                                
                                About GPH :
                                    o Established in 2009.<br/>
                                    o The Institution is spread over a piece of land admeasuring 10 Acres.<br/>
                                    o Affiliated to MSBTE, Govt. of India.
                                
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      
     <div class="col-md-5 mb-3">
        <div class="card stat-card p-3 bg-opacity-10" style="background-color:purple;">
            <div class="align-items-center">
                <div class="accordion" id="DeptAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <buttton class="accordion-button" type="button"
                              data-bs-toggle="collapse" data-bs-target="#DeptContent">
                               🏬 Department 
                            </buttton>
                        </h2>
                        <div id="DeptContent" class="accordion-collapse colaapse show" 
                            data-bs-parent="#DeptAccordion">
                            <div class="accordion-body">
                                <button class="btn btn-primary mb-3">👨‍💻Computer Engineering</button><br/>
                                <button class="btn btn-warning mb-3">💡Electrical Engineering</button><br/>
                                <button class="btn btn-danger mb-3">🦾Mechanical Engineering</button>
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<br/>
<div class="row">
    <div class="col-md-5 mb-3" style="margin-left: 5px;">
        <div class="card stat-card p-3 bg-opacity-10" style="background-color:purple;">
            <div class="align-items-center">
                <div class="accordion" id="placeAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <buttton class="accordion-button" type="button"
                              data-bs-toggle="collapse" data-bs-target="#placeContent">
                                💵Placements
                            </buttton>
                        </h2>
                        <div id="placeContent" class="accordion-collapse colaapse show" 
                            data-bs-parent="#placeAccordion">
                            <div class="accordion-body">
                                
                                About GPH :
                                    o Established in 2009.<br/>
                                    o The Institution is spread over a piece of land admeasuring 10 Acres.<br/>
                                    o Affiliated to MSBTE, Govt. of India.
                                
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
      
     <div class="col-md-5 mb-3">
        <div class="card stat-card p-3 bg-opacity-10" style="background-color:purple;">
            <div class="align-items-center">
                <div class="accordion" id="aboutAccordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <buttton class="accordion-button" type="button"
                              data-bs-toggle="collapse" data-bs-target="#aboutContent">
                                ♂️About us 
                            </buttton>
                        </h2>
                        <div id="aboutContent" class="accordion-collapse colaapse show" 
                            data-bs-parent="#aboutAccordion">
                            <div class="accordion-body">
                               hi
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
</div>



<div class="container">
<div class="col-md-12 align-items-center"><center>
    <div class="poster" style="border:5px solid black; background-color: beige;">
    <div class="header">
          <div class="logo d-flex align-items-center">
       
        <img src="{{ url_for('static',filename='logo.jpg')}}" alt="logo" 
        width="100" height="100">
       
     <h1 class="ms-3 mb-0" style="color:navy">
             Government Polytechnic Hingoli</h1>
     </div>
        <h1 style="color: orangered;">ADMISSIONS OPEN</h1>
        <p style="color:gray">Academic Year 2026-27</p>
    </div>
    <div calss="content">
        <h2 style="color:darkgreen">Build Your Future With US!</h2>
        <div class="features">
            <div class="feature">
                <h3 style="color:blueviolet">Quality Education</h3>
                <p style="color:coral">Experienced Faculty & Modern Curriculum</p>
            </div>
            <div class="feature">
                <h3 style="color:purple">Placements</h3>
                <p style="color:fuchsia">Industry-Oriented Traning & career Support</p>
            </div>
            <div class="feature">
                <h3 style="color:turquoise">Smart Campus</h3>
                <p>Modern labs & Digital Learning</p>
            </div>
        </div>
    </div>
    <div class="date">
        <h3>Admission start <date:20/6/2026></date:20/6/2026></h3>
        
    </div>
    <div calss="apply">
       <button class="btn btn-primary"> APPLY NOW...!</button>
       <p>last date of Admission:5/7/2026</p>
    </div>
    <div class="footer">
        <p style="color:crimson">+91 8554006817</p>
        <p style="color:cornflowerblue">GPH@gmail1163.com</p>
        <p style="color:red">Hingoli,MIDC, Limbala Mtaka</p>
    </div>
</div></center>
</div>
</div>

{% endblock %}